
.app {
  min-height: 50vh;
  background-color: rgb(78, 158, 158);
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.state {
  min-height: 50vh;
  background-color: rgb(78, 158, 158);
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.tweet {

  width: 200px;
  height: 200px;
  border-radius: 30px;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.red {
  color: red;
}